<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{{ if .IsHome }}{{ .Site.Params.Title }}{{ else }}{{ .Title }} - {{ .Site.Params.Title }}{{ end }}</title>
<meta name="revised" content="{{ now.Format "2006-01-02T15:04:05 MST" }}">
<link href="{{"css/font-awesome.min.css" | relURL}}" rel="stylesheet">
<link href="{{(printf "theme-%s/style.css" (.Site.Params.themeStyle| default "flex")  ) | relURL}}" rel="stylesheet">
<link rel="stylesheet" href="{{"css/bootstrap.min.css" | relURL}}">
<script src="{{"js/jquery-3.5.1.min.js" | relURL}}"></script>
<script type="text/javascript">
      var baseurl = "{{.Site.BaseURL}}";
</script>
{{ partial "custom-head.html" . }}
