<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="revised" content="{{ now.Format "2006-01-02T15:04:05 MST" }}">
<link href="{{"css/font-awesome.min.css" | relURL}}" rel="stylesheet">
<link href="{{(printf "theme-%s/style.css" (.Site.Params.themeStyle| default "flex")  ) | relURL}}" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="{{"css/featherlight.min.css" | relURL}}" rel="stylesheet">
<link href="{{"css/auto-complete.css" | relURL}}" rel="stylesheet">
<script
src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
      var baseurl = "{{.Site.BaseURL}}";
</script>
{{ partial "custom-head.html" . }}
