
{{/*  TODO: Add back  */}}
{{/*  <script src="{{"js/clipboard.min.js" | relURL}}"></script>  */}}

<link href="{{"css/featherlight.min.css" | relURL}}" rel="stylesheet">
<script src="{{"js/featherlight.min.js" | relURL}}"></script>
<!-- Custom JS TBD -->
<script src="{{"js/bootstrap-4.3.1.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>

{{if eq .Site.Params.highlightClientSide true}}
<script src="{{"js/highlight.pack.js" | relURL}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{end}}
<script src="{{"js/modernizr.custom.71422.js" | relURL}}"></script>
{{/*  <script src="{{"js/docdock.js" | relURL}}"></script>  */}}
<script src="{{(printf "theme-%s/script.js" (.Site.Params.themeStyle| default "flex")) | relURL}}"></script>


<script src="{{"js/theme.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
